body {
  height: 150px;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.425);
  color: white;
}

p {
  height: 150px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
